:root {
  --ui-dropdown-border-radius: 0;
  --ui-dropdown-box-shadow: 0 .063rem .188rem rgba(.32, .32, .32, .16);
  --ui-dropdown-header-font-weight: 400;
  --ui-dropdown-header-color: #4a4a4a;
  --ui-dropdown-header-active-color: #005cd2;
  --ui-dropdown-header-background-color: #fafafa;
  --ui-dropdown-header-padding: .750rem 1.125rem;
  --ui-dropdown-header-font-size: 1rem;
  --ui-dropdown-border: .063rem solid #ccc;
  --ui-dropdown-list-border: var(--ui-dropdown-border);
  --ui-dropdown-list-padding: 0;
  --ui-dropdown-list-margin: -2px 0 0 0;
  --ui-dropdown-list-background-color: #ffffff;
  --ui-dropdown-focus-shadow: 0 0 .188rem rgba(0, 98, 255, .75);
}
body {
  background-color: #222;
}
ui-dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 18rem;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  list-style: none;
}
li {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  padding: var(--ui-dropdown-header-padding);
  border-bottom: var(--ui-dropdown-border);
}
li:last-child {
  border-bottom: 0;
}
li img {
  height: 60px;
  width: 60px;
  margin-right: 1rem;
  border-radius: 50%;
  flex: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 320px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
